# .env

# Step 1: Project Variables
PROJECT_NAME=WonCex
DOMAIN=trades.wonnetwork.org
ADMIN_BASE_URL=admin_panel
ADMIN_USER=hello@wonnetwork.org
ADMIN_MASTERPASS=Vuongdev123
SUPPORT_EMAIL=hello@wonnetwork.org

# Social Media URLs
TELEGRAM=Telegram
FACEBOOK=Facebook
TWITTER=Twitter
LINKEDIN=
LOGO=

# Step 2: Common Services
RECAPTCHA=6Ld2F-kpAAAAAAidItFe5rjWq4frPOviQbikAxwt
RECAPTCHA_SECRET=6Ld2F-kpAAAAAEAJXZ_-yVcA2MRtFFIPQAqI0MFn
TELEGRAM_CHAT_ID=736674135
TELEGRAM_ALERTS_CHAT_ID=736674135
TELEGRAM_BOT_TOKEN=6481299395:AAHJyjZPLqG1hesTCguI6gZdGop2LNTE6zo

# Step 3: Blockchain Services
INFURA_API_KEY=54a13a85fbaa45a7a0437a45e890f694
INFURA_API_SECRET=WzLGD6c01IB81XSXeH7RVBTkOm/hoaDm77WP2Wvj1/2nd2o3HA9fOwe
ETHERSCAN_KEY=S1A72BKRI9FXF24J3PMYY2TV28G1Q5PN5J

# Step 4: Safe Addresses
BTC_SAFE_ADDR=bc1qwxufe7g9e403whhpyt8czzeqryjncnre4v3rf8
ETH_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5: Binance BSC Blockchain
ENABLED_BNB=True
BSCSCAN_KEY=P4X2EVKCNTHSRTIHHRMZ45661ITEXKKZDF
BNB_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5.1: Matic Blockchain
ENABLED_MATIC=True
COMMON_TASKS_MATIC=True
POLYGONSCAN_KEY=B9IG9RC6EPZ5TG53FJB51AN8DMD76VG3J4
MATIC_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5.11: Won Blockchain
ENABLED_WON=True
COMMON_TASKS_WON=True
WONSCAN_KEY=29b1b996-ed19-413e-bd68-edd9bc49b43a
WON_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5.11: Celo Blockchain
ENABLED_CELO=True
COMMON_TASKS_CELO=True
CELOSCAN_KEY=KHIVK2BJVU7FPTCH43FVPJ9GME825DE9TI
CELO_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5.11: Core Blockchain
ENABLED_CORE=True
COMMON_TASKS_CORE=True
CORESCAN_KEY=7dffa57f78b941698d43fa2ae273d764
CORE_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5.11: Fuse Blockchain
ENABLED_FUSE=True
COMMON_TASKS_FUSE=True
FUSESCAN_KEY=29b1b996-ed19-413e-bd68-edd9bc49b43a
FUSE_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5.11: Avax Blockchain
ENABLED_AVAX=True
COMMON_TASKS_AVAX=True
AVAXSCAN_KEY=29b1b996-ed19-413e-bd68-edd9bc49b43a
AVAX_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5.11: Etc Blockchain
ENABLED_ETC=True
COMMON_TASKS_ETC=True
ETCSCAN_KEY=44c31788-35bd-46cb-aed1-6179b58149d6
ETC_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5.11: Ftm Blockchain
ENABLED_FTM=True
COMMON_TASKS_FTM=True
FTMSCAN_KEY=ZMP8RT214IF58HUA9NBAYR9HSB8EEX8B5R
FTM_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 5.11: DAI Blockchain
ENABLED_DAI=True
COMMON_TASKS_DAI=True
DAISCAN_KEY=cf3ad860-212c-442f-8353-b58f03ce79e1
DAI_SAFE_ADDR=0x02C381EEe0a7dF7ccc92557D23E484b9ceFbB4a4

# Step 6: Tron Blockchain
ENABLED_TRON=True
TRONGRID_API_KEY=b2f8d92b-ee2e-4f61-99be-9274a099c7dd
TRX_SAFE_ADDR=TX1PbpGgbVjUq1AJ16eRbSmWDaf8HHsrFL

# Step 8: Email Service
EMAIL_HOST=mail.privateemail.com
EMAIL_HOST_USER=hello@wonnetwork.org
EMAIL_HOST_PASSWORD=Vuongdev123
EMAIL_PORT=587
EMAIL_USE_TLS=True

# Step 9: SMS Service (Twilio)
IS_SMS_ENABLED=False
TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_VERIFY_SID=your-twilio-verify-sid
TWILIO_PHONE=your-twilio-phone-number

# Step 10: KYC Provider SumSub
IS_KYC_ENABLED=False
SUMSUB_SECRET_KEY=your-sumsub-secret-key
SUMSUB_APP_TOKEN=your-sumsub-app-token
SUMSUM_CALLBACK_VALIDATION_SECRET=your-sumsub-callback-validation-secret

# Step 11: KYT Provider Scorechain
IS_KYT_ENABLED=False
SCORECHAIN_BITCOIN_TOKEN=your-scorechain-bitcoin-token
SCORECHAIN_ETHEREUM_TOKEN=your-scorechain-ethereum-token
SCORECHAIN_TRON_TOKEN=your-scorechain-tron-token
SCORECHAIN_BNB_TOKEN=your-scorechain-bnb-token

CRYPTOCOMPARE_API_KEY=e5207efb91b669a6e31f5e6ff3bba83f9ef238efef61c6cc9fbe1afde9fa46d0

# Market Making Bot (Hummingbot)
IS_HUMMINGBOT_ENABLED=True
